.modal-wrapper.show {
  display: block;
}

.modal-wrapper {
  background-color: #3dd1e7;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: "Oleo Script", cursive;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: fixed;
  text-align: center;
  text-decoration: none #000000 solid;
  width: 25rem;
  height: 15rem;
  max-width: 90%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 9999;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
}

.modal-wrapper .modal-wrapper_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-wrapper .modal-wrapper_actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 5rem; /* Adjust the margin as needed */
  margin-bottom: 1rem;
}

.modal-wrapper .modal-wrapper_actions button {
  cursor: pointer;
  margin: 0 20px;
}

.addFavModal {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
 padding: .75rem 3rem;
    font-size: 1.5rem;
  position: fixed;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
   top: 70%;
  left: 48%;
 
  transform: translate(-50%, -50%);
  max-width: 460px;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.addFavModal:focus {
  outline: 0;
}

.addFavModal:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.addFavModal:hover:after {
  bottom: 2px;
  left: 2px;
}



.delModal {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  
   padding: .75rem 3rem;
    font-size: 1.5rem;
  position: fixed;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
 top: 70%;
  left: 1%;
  transform: translate(-50%, -50%);
  max-width: 460px;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.delModal:focus {
  outline: 0;
}

.delModal:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.delModal:hover:after {
  bottom: 2px;
  left: 2px;
}


   

@media (min-width: 268px) and (max-width: 767px) {
  .delModal {
    padding: .75rem 1rem;
    font-size: 0.95rem;
    
  }
  .addFavModal {
    padding: .75rem 1rem;
    font-size: 0.95rem;
  }
   .modal-wrapper{
    width: 70%;
    height: 30%;
   }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .modal-wrapper {
    width: 40%;
    height: 30%;
  }
  .delModal {
    padding: .75rem 2rem;
    font-size: 1.25rem;
    
  }
  .addFavModal {
    padding: .75rem 2rem;
    font-size: 1.25rem;
  }
}
  

